* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  width: 100vw;
  font-size: 1.6rem;
}

header {
  background-color: #065e7c;
  padding: 16px 28px;
  display: flex;
  align-items: center;
  gap: 25px;
}

header input {
  width: 100%;
  background-color: #ffffff20;
  border: none;
  border-radius: 4px;
  padding: 1.2rem 1.4rem;
  color: #fff;
}

header input::placeholder {
  color: #fff;
}

main .main-pic {
  width: 100%;
  object-fit: cover;
}

main .main-content {
  display: grid;
  gap: 3.2rem;
  padding: 2.2rem 2.2rem 3.4rem 2.2rem;
}

h2 {
  font-size: 2.4rem;
  color: #202024;
}

main .main-content p {
  font-size: 1.6rem;
  line-height: 160%;
  color: #121214;
}

section img {
  width: 15.1rem;
  height: 8.4rem;
  object-fit: cover;
}

.question-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.question-section .btn-group {
  display: flex;
  gap: 1.2rem;
}

.question-section .btn-group button {
  background-color: #065e7c;
  width: 4rem;
  height: 4rem;
  border: none;
  padding: 1.2rem;
  border-radius: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 2.2rem;
}

aside section {
  display: flex;
  gap: 1.6rem;

  align-items: center;
}

aside section div {
  width: 21.5rem;

  display: grid;
}

aside section img {
  border-radius: 5px;
}

aside section h3 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

aside section p {
  font-size: 1.4rem;
}

footer {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 6.4rem;
  background-color: #387e96;
  margin-top: 4rem;
  width: 100%;
}

footer span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

@media (min-width: 68em) {
  .page {
    display: flex;
  }

  main {
    width: 80.3rem;
  }

  main .main-pic {
    height: 40.5rem;
  }

  .question-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
